div.main{
    width: 600px;
    /* height: 600px; */
    margin: 0 auto;
    background-color: greenyellow;
}

div.header{
    background-color: rgb(255, 0, 0);
    height: 20%;
}

div.navigation{
    background-color: rgb(144, 238, 144);
    height: 10%;
    float: inherit;
}

div.body{
    width: 500px;
    height: 60%;
}

div.content{
    background-color: rgb(255, 0, 255);
    width: 420px;
    height: 60%;
    float: left;
}

div.other{
    background-color: rgb(173, 216, 230);
    width: 180px;
    height: 60%;
    float: right;
}

div.footer{
    background-color: black;
    height: 10%;
}

h1.header{
    text-align: center;

}