table {
    border-collapse: collapse;
}

th.a {
    background-color: rgb(128, 179, 39);
    color: rgb(255, 255, 255);
    height: 21px;
    font-size: 16px;
    font-weight: 11px;
}

td {
    height: 17px;
}

td.a {
    background-color: rgb(228, 255, 183);
}

td.b {
    background-color: rgb(239, 255, 210);
}