html {
	background-image: url("./images/bg.png");
}

body {
	margin: 0;
	padding: 0;
}

div.main {
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 20px;
	height: 520px;
	width: 600px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.title {
	height: 100px;
	width: 600px;
	border-radius: 20px;
	float: left;
	background-color: rgb(224, 115, 126);
}

div.content {
	height: 300px;
	width: 600px;
	border-radius: 20px;
	margin-top: 30px;
	float: left;
	background-color: rgb(186, 231, 255);
}

div.content div.value1 div.value1_hint {
	float: left;
	height: 30px;
	width: 300px;
	margin-top: 50px;
}

div.content div.value1 div.value1_area {
	float: left;
	height: 30px;
	width: 300px;
	margin-top: 50px;
}

div.content div.value2 div.value2_hint {
	float: left;
	height: 30px;
	width: 300px;
	margin-top: 30px;
}

div.content div.value2 div.value2_area {
	float: left;
	height: 30px;
	width: 300px;
	margin-top: 30px;
}

div.content div.result div.result_hint {
	float: left;
	height: 30px;
	width: 300px;
	margin-top: 30px;
}

div.content div.result div.result_area {
	float: left;
	height: 30px;
	width: 300px;
	margin-top: 30px;
}

.div_hint {
	background-color: thistle;
	height: 30px;
	width: 150px;
	line-height: 30px;
	margin-right: 10px;
	border-radius: 13px;
	float: right;
	text-align: center;
	vertical-align: middle;
}

.div_area {
	margin-left: -120px;
}

div.button_area {
	float: left;
	height: 100px;
	width: 600px;
	margin-top: 10px;
	text-align: center;
}

div.info {
	height: 80px;
	width: 600px;
	border-radius: 20px;
	margin: 10px 0px;
	float: left;
	background-color: rgba(255, 255, 255, 0);
}

input.area {
	line-height: 24px;
	height: 24px;
	width: 100px;
	border-radius: 13px;
	text-indent: 15px;
	outline: none;
	border: 1px solid orange;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px 10px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}

button.button1 {
	background-color: white;
	color: black;
	border: 1px solid #ffe8f3;
}

button.button1:hover {
	background-color: #ffe8f3;
	color: white;
}

button.button2 {
	background-color: white;
	color: black;
	border: 1px solid #f4fea3;
}

button.button2:hover {
	background-color: #f4fea3;
	color: white;
}

button.button3 {
	background-color: white;
	color: black;
	border: 1px solid #ccff99;
}

button.button3:hover {
	background-color: #ccff99;
	color: white;
}

button.button4 {
	background-color: white;
	color: black;
	border: 1px solid #6b9ac9;
}

button.button4:hover {
	background-color: #6b9ac9;
	color: white;
}

div div.left_button {
	height: 80px;
	width: 300px;
	float: left;
}

div .info_button_left {
	display: inline-block;
	border-radius: 20px;
	background-color: #c8e6c6;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 0px;
	height: 40px;
	width: 200px;
	margin-right: -40px;
	transition: all 0.5s;
	cursor: pointer;
}

div .info_button_left span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	height: 40px;
	line-height: 40px;
	margin: 0px;
	padding: 0px;
}

div .info_button_left span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

div .info_button_left:hover span {
	padding-right: 25px;
}

div .info_button_left:hover span:after {
	opacity: 1;
	right: 0;
}

div div.right_button {
	height: 80px;
	width: 300px;
	float: left;
}

div .info_button_right {
	display: inline-block;
	border-radius: 20px;
	background-color: #c8e6c6;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 0px;
	height: 40px;
	width: 200px;
	margin-left: -40px;
	transition: all 0.5s;
	cursor: pointer;
}

div .info_button_right span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	height: 40px;
	line-height: 40px;
	margin: 0px;
	padding: 0px;
}

div .info_button_right span:after {
	content: url(./images/github.svg);
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0px;
	transition: 0.3s;
}

div .info_button_right:hover span {
	padding-right: 40px;
}

div .info_button_right:hover span:after {
	opacity: 1;
	right: 0;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}